PORT=3001

WHATSAPP_SESSION_ID=gendaz-leads
WHATSAPP_INTERNAL_TOKEN=
WHATSAPP_AUTH_STORE=postgres

WHATSAPP_DATABASE_URL=
WHATSAPP_AUTH_ENCRYPTION_KEY=

WHATSAPP_RECONNECT_BASE_DELAY_MS=2000
WHATSAPP_RECONNECT_MAX_DELAY_MS=60000
WHATSAPP_RECONNECT_MAX_ATTEMPTS=10
